.content{
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.info{
    display: flex;
    font-size: medium;
    font-weight: lighter;
}

.title{
    font-weight: lighter;
    font-size: medium;
}

.change-color{
    display: flex;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button:focus {
    outline: none;
}
  
span{
    color: var(--text-secondary-color);
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-left: .5rem solid var(--secondary-color);
    padding: 8rem 0 8rem 0;
}

.body-title{
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'digitalGeometric', sans-serif;
    width: 100%;
    text-align: center;
}

.body-sub{
    font-size: 2rem;
    font-weight:100;
    color: var(--text-secondary-color);
    width: 100%;
    text-align: center;
}

.divider{
    width: 35%;
    height: .3rem;
    margin-top: -.4rem;
    margin-bottom: .8rem;
    box-shadow:
    inset 0px 0px 8rem var(--accent-color),
    inset 0px 0px 8rem var(--primary-color),
    0px 0px 8rem var(--primary-color),
    0px 0px 8rem var(--accent-color);
}

a{
    margin-top: 2rem;
    color: var(--accent-color);
}

.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: medium;
    bottom: 0;
    position: absolute;
    padding: 1rem;
}

@media (max-width: 500px) {
    .body{
        border-left: .2rem solid var(--secondary-color);
    }
    .body-title{
        font-size: 3rem;
    }
    .body-sub{
        font-size: 1rem;
    }

    .divider{
        width: 70%;
        margin-top: .2rem;
    }
}

@media (max-height: 500px) {
    .body{
        padding: 0 0 4rem 0;
    }
}